/* Extra small devices (portrait phones, less than 576px */

@media (max-width: 575.98px) {
    .navbar-brand img {
        width: 40%;
    }
    .sign-in ul li {
        padding-right: 5px;
    }
    .sign-in ul li a {
        font-size: 8px;
    }
    .header-text h3 {
        font-size: 25px;
    }
    .header-text h2 {
        font-size: 70px;
    }
    .header-text {
        padding-top: 80px;
        padding-bottom: 90px;
    }
    .header-text button {
        font-size: 10px;
    }
    #order-part {
        padding: 40px 0;
    }
    .ordrer-details h4 {
        font-size: 12px;
    }
    .ordrer-details h4::after {
        width: 60px;
        left: 19%;
    }
    .ordrer-details p {
        font-size: 10px;
    }
    #introduction-area {
        padding-top: 30px;
        background-color: #f7f7f7;
    }
    .introduction-left {
        padding-top: 5px;
    }
    .introduction-left h4 {
        font-size: 8px;
    }
    .introduction-left p {
        font-size: 5px;
    }
    .introduction-left .introduction-2nd-p {
        padding-top: 0px;
    }
    .introduction-left .introduction-3rd-p {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .introduction-logo2 img {
        width: 50%;
    }
    #testimonial-part {
        padding: 50px 0 50px 0;
    }
    .testimonial-content h3 {
        font-size: 15px;
    }
    .testimonial-content h6 {
        font-size: 10px;
    }
    .carousel-indicators li {
        height: 6px;
        width: 6px;
    }
    .location-text {
        padding: 25px;
    }
    .location-text h3 {
        font-size: 14px;
    }
    .location-details h4 {
        font-size: 12px;
    }
    .location-details h3 {
        height: 16px;
        width: 16px;
        font-size: 13px;
        padding: 0px 6px 3px 4px;
    }
    .location-details h5 {
        font-size: 12px;
        padding-bottom: 8px;
    }
    .location-details p {
        font-size: 7px;
    }
    .location-details i {
        font-size: 12px;
    }
    .location-lower {
        margin-bottom: 80px;
        height: 165px;
    }
    #footer-part {
        padding: 15px 0;
    }
    .footer-text h5 {
        font-size: 10px;
    }
}


/* Small devices (landscape phones, 576px and up */

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-brand img {
        width: 70%;
    }
    .sign-in ul li {
        padding-right: 15px;
    }
    .sign-in ul li a {
        font-size: 10px;
    }
    .header-text h3 {
        font-size: 25px;
    }
    .header-text h2 {
        font-size: 70px;
    }
    .header-text {
        padding-top: 80px;
        padding-bottom: 90px;
    }
    .header-text button {
        font-size: 10px;
    }
    #order-part {
        padding: 40px 0;
    }
    .ordrer-details h4 {
        font-size: 14px;
    }
    .ordrer-details h4::after {
        left: 20%;
    }
    .ordrer-details p {
        font-size: 10px;
    }
    #introduction-area {
        padding-top: 40px;
        background-color: #f7f7f7;
    }
    .introduction-left {
        padding-top: 25px;
    }
    .introduction-left h4 {
        font-size: 12px;
    }
    .introduction-left p {
        font-size: 8px;
    }
    .introduction-left .introduction-2nd-p {
        padding-top: 0px;
    }
    .introduction-left .introduction-3rd-p {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .introduction-logo2 img {
        width: 75%;
    }
    #testimonial-part {
        padding: 50px 0 50px 0;
    }
    .testimonial-content h3 {
        font-size: 15px;
    }
    .testimonial-content h6 {
        font-size: 10px;
    }
    .carousel-indicators li {
        height: 6px;
        width: 6px;
    }
    .location-text {
        padding: 25px;
    }
    .location-text h3 {
        font-size: 14px;
    }
    .location-details h4 {
        font-size: 12px;
    }
    .location-details h3 {
        height: 16px;
        width: 16px;
        font-size: 13px;
        padding: 0px 6px 3px 4px;
    }
    .location-details h5 {
        font-size: 12px;
        padding-bottom: 8px;
    }
    .location-details p {
        font-size: 7px;
    }
    .location-details i {
        font-size: 12px;
    }
    .location-lower {
        margin-bottom: 80px;
        height: 230px;
    }
    #footer-part {
        padding: 15px 0;
    }
    .footer-text h5 {
        font-size: 10px;
    }
}


/* Medium devices (tablets, 768px and up */

@media (min-width: 768px) and (max-width: 991.98px) {
    .header-text {
        padding-top: 130px;
        padding-bottom: 150px;
    }
    #order-part {
        padding: 70px 0;
    }
    #introduction-area {
        padding-top: 70px;
        background-color: #f7f7f7;
    }
    .introduction-left {
        padding-top: 40px;
    }
    .introduction-left h4 {
        font-size: 15px;
    }
    .introduction-left p {
        font-size: 12px;
    }
    .introduction-left .introduction-2nd-p {
        padding-top: 0px;
    }
    .introduction-left .introduction-3rd-p {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .introduction-logo2 img {
        width: 80%;
    }
    .location-text {
        padding: 40px;
    }
    .location-details h4 {
        font-size: 16px;
    }
    .location-details h3 {
        height: 20px;
        width: 20px;
        font-size: 16px;
        padding: 0px 6px 3px 5px;
    }
    .location-details h5 {
        font-size: 16px;
        padding-bottom: 8px;
    }
    .location-details p {
        font-size: 10px;
    }
    .location-details i {
        font-size: 16px;
    }
    .location-lower {
        margin-bottom: 150px;
        height: 260px;
    }
    #footer-part {
        padding: 30px 0;
    }
}


/* Large devices (desktops, 992px and up */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .location-lower {
        height: 325px;
    }
}


/* Extra large devices (large desktops, 1200px and up */

@media (min-width: 1200px) {}